@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #907BF6;
  --color-black: #000;
  --color-white: #FFF;

  --navbar-height: 88px;
  --navbar-background-color: var(--color-primary);
  --navbar-text-color: var(--color-white);

  font-family: "Funnel Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-primary);
  color: var(--color-white);
}

nav {
  width: 100%;
  height: var(--navbar-height);
  position: relative;
  top: 0;
  z-index: 40;
  background: var(--navbar-background-color);
  color: var(--navbar-text-color);
  transition: height .2s ease-in-out;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav div a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

nav .logo {
  height: 40px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color-white);
}

nav ul a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.5rem;
}

.banner {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  gap: 2.75rem;
}
.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--navbar-height);
  gap: 2rem;
  height: 100%;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.banner-image {
  border-radius: 500px 0 0 500px;
}

.banner-text-container {
  padding-left: 2rem;
}

.banner-text-container h1,
.banner-text-container p {
  text-align: left;
}
.banner-text-container p {
  font-size: 2rem;
  font-weight: 300;
}
.banner-text-container h1 {
  font-size: 5.25rem;
  font-weight: 700;
}

.social-media-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.secondary-button {
  color: var(--color-primary);
  background-color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-content {
  height: 40px;
  background-color: var(--color-black);
  color: var(--color-primary);
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
.footer-content a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}
.footer-content img {
  height: 24px;
  width: auto;
}